# Environments
.venv/
.Dockerfile.swp
.env

# static or media stuff:
/media
/static
src/static

# IDEs
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# DATA
*.sqlite3

deploy_tools/